<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="Example13" version="3.1">
	<display-name>Spring RESTful Service Advance Application</display-name>

	<!-- Context parameter to configure single root context for the DispatcherServlet. -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/spring-rest-web.xml</param-value>
	</context-param>

	<!-- DispatcherServlet is an expression of the "Front Controller" design 
		pattern. The DispatcherServlet is an actual Servlet (it inherits from the 
		HttpServlet base class), and as such is declared in the web.xml of your web 
		application. -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Bootstrap listener to start up and shut down Spring's root WebApplicationContext. 
		Simply delegates to ContextLoader as well as to ContextCleanupListener. -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>
